.contact {
  padding: 36px 0 13px;
  &__row {
    display: flex;
    column-gap: 47px;
    align-items: flex-end;
  }
  &__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #263238;
    margin: 20px 0 8px;
  }
  &__descr {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
    color: #263238
  }


  &__phone {
    &-title {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #263238;
      margin-bottom: 15px;
    }
    &-menu {
      list-style-type: none;
    }
    &-link {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 149.19%;
      color: #263238;
    }
  }
}